body {
    background-color: rgb(225, 245, 255);
    margin: 0 0 0 0;
    /* font-family: 'Roboto', 'Arial', sans-serif; */
}

header {
    height: 20%;
}

.subtitle{
    font-size: 3em;
    text-align: center;
}

#logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
}

#logo-img {
    padding-top: 25%;
    height: 30em;
}

.login-contrainer {
    display: flex;
    flex-direction: column;
}

#search-panel {
    display: flex;
    flex-direction: column;
    margin: 12% 10% 25% 10%;
    height: 25%;
}

#welcome-txt {
    margin: 8% 2% 10% 2%;
    font-weight: 800;
    user-select: none;
    font-size: 5em;
    color: #a71b1b;
}

.search-bar {
    background: url(../images/search-small.jpg) no-repeat 10px;
    background-size: 3vw;
    padding-left: 12%;
    margin-top: 3%;
    width: 100%;
    height: 10vw;
}

.search-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-top: 10%;
}

.search-button {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0% 12% 5% 12%;
}

.search-button-icon {
    height: 9em;
    padding: 5% 5% 5% 5%;
    user-select: none;
}

.search-button-txt {
    padding: 10% 5% 5% 5%;
    font-weight: 800;
    user-select: none;
    font-size: 4em;
    color: black;
}

.route-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-top: 10%;
}

.route-button {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin: 0% 25% 5% 25%;
    text-decoration: none;
}

.route-button-icon {
    height: 6vw;
    padding: 5% 5% 5% 5%;
    user-select: none;
}

.route-button-txt {
    padding: 10% 5% 5% 5%;
    font-weight: 800;
    user-select: none;
    font-size: 6vw;
    color: black;
}

.time-date-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.time-input {
    width: 120px;
    flex-shrink: 0;
    height: 2.8em;
    width: 37%;
    font-size: 3em;
    background: url("../images/search-small.jpg") no-repeat scroll 10px 30px;
    padding-left: 12%;
    margin-top: 3%;
}

.date-input {
    flex-shrink: 1;
    height: 2.8em;
    width: 63%;
    font-size: 3em;
    background: url("../images/search-small.jpg") no-repeat scroll 10px 30px;
    padding-left: 12%;
    margin-left: 3%;
    margin-top: 3%;
}

:focus {
    outline: none;
}

.input-container {
    float: left;
    margin: 42px 3%;
    position: relative;
}
/* Fancy stuff */
input[type="text"] {
    color: #1d9af2;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: #ffffff;
    border: thin;
    border: 5px solid lightgrey;
    font-size: 250%;
}

input[type="text"]::placeholder {
    margin-left: 10px;
}

.effect-1 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
    width: 70%;
    transition: 0.4s;
}
/*  */
.title-txt {
    margin: 13% 2% 10% 2%;
    font-weight: 800;
    user-select: none;
    font-size: 8vw;
    color: black;
    text-align: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 12%;
}

.nav-bar2 {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 12%;
}

.nav-button {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
    padding: 0% 4% 0% 4%;
	text-decoration: none
}

.nav-button-icon {
    height: 40%;
    padding: 5% 5% 5% 5%;
    user-select: none;
}

.nav-bar .nav-button-txt {
    padding: 10% 5% 5% 5%;
    font-weight: 800;
    user-select: none;
    font-size: 1em;
    color: black;
    font-family: 'Roboto';
}

.nav-bar2 .nav-button-txt {
    padding: 10% 5% 5% 5%;
    font-weight: 800;
    user-select: none;
    font-size: 0.765em;
    color: black;
    font-family: 'Roboto';
}

.nav-bar .nav-button-txt-select {
    padding: 10% 5% 5% 5%;
    font-weight: 800;
    user-select: none;
    font-size: 1em;
    color: rgb(218, 0, 99);
}

.nav-bar2 .nav-button-txt-select {
    padding: 10% 5% 5% 5%;
    font-weight: 800;
    user-select: none;
    font-size: 0.765em;
    color: rgb(218, 0, 99);
}

/* ??? */

.map-container {
    justify-content: center;
    align-items: center;
}

#map {
    /*
    position: absolute;
        */
    height: 40vh;
    width: 100%;
}

#menu {
 
    background: #efefef;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

.mapboxgl-canvas {
    height: 100px;
}

/* search_activities and created activities css */
.activity .img-container {
    width: 272px;
}

.img-container img {
    width: 172%;
}

.activities-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.activities-container h1{
    font-size: 5em;
    margin-top: 12%;
}

.activities-container p {
    font-size:3em;
}

.activities-container .activity {
    width:96%;
    padding: 25px;
}

.img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.text-container {
margin-left: 246px;
}

/* search_results */

.outer-articles-container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.outer-articles-container .nav_bar {
    font-size: 2vw;
    margin-top: 40px;
}

.articles-container .article{
    margin-top:75px;
}
.articles-container .article {
    width: 100%;

}

.articles-container .article img {
    width:100%;
}

.articles-container .article .article-text {
    font-size: 2vw;
    text-align: center;
    font-family: sans-serif;

}

/* Few additional elements to the Search page */


/* Photo_sharing_template */

.snap-container {
    width: 100%;
    /* margin: 0 auto; */
}

.snap-container h1 {
    text-align: center;
    font-size: 250%;
}


#gears{
    font-weight: bolder;
    margin-left: 132px;
    }

.post-image-container {
    background-color:#c9d7ffb5;
}

 .post-image-container img{
    width: 72%;
    display: block;
    margin: 0 auto;
}


.post-details {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size:270%;
    margin-top:19px;
}

.post-details .left-post-buttons {
    display: flex;
    justify-content: space-evenly; 
    flex: 0.75;

}

 .post-comment-author {
    display: flex;
    font-size: 322%;
    justify-content: flex-start;
}

.author-name-icon {
    display: flex;
    flex:0.95;
    font-size: 2;
    font-size: 5;
}
.post-comment-author span {
    margin: 8px 13px; 
    display: block;
}

.post-comments-container {
    margin-top: 5%;
}

/* Choose Activity */


.fotorama{
	width:750px;
	margin:auto;
    align-items: center;
    
}

.activity-ranges{
    width:100%;
    
}
 
.activity-deets{
    padding-left: 115px;
    font-size: 2em;
}
.activity-format{
    display: flex;
    align-items: center;
}

.activity-format a{
    text-decoration: none;
    color: #222;
}

.activity-icon{
    padding-right: 20px;
}

.activity-trio{
    display: flex;
    align-items: left;
    justify-content: space-between;
    width:720px;
}

.subNav{
    font-family: 'Fredoka One', cursive;
    font-size: 3em;
    line-height: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 20px;
}
.subboNav{
    float: left;
    align-items: center;
    text-align: center;
}

.subboNav a{
    text-decoration: none;
    color: #222;
}

/* Feed Page */

.main-feed {
    width: 80%;
    margin: 0 auto;
}

.main-feed h1{
    font-size: 5em;
    text-align: center;
}

.main-post p {
    font-size: 400%;
}


.fas.fa-images {
    margin-left: 15px;
    margin-right: 10px;
}

.second-post {
    height: 40px;
    font-size: 270%;
}
.second-post-img {
    width:50%;
}

.second-post-img img {
    width: 100%;
}

.img-details-container {
    display: flex;
    justify-content: space-between;
}

.left-post-buttons {
    display: flex;
}

.icon-text {
    margin-left: 30px;
}
.time {
    width: 108%;
    margin-top: 15px;
    height: 20%;
    font-size: 84%;
}

.second-post p{
    font-weight:600;
}

.second-post-img {
    width: 46%;
}

.second-post-img p {
    text-align: center;
}

.second-post-details {
    width: 46%;
}

.second-post-details .time span {
    margin-right: 10px;
}
.people .fas.fa-users {
    margin-right: 5px;
}

.people {
    margin-top: 8px;
    font-size: 84%;
}

/* Notifications Page */

.notifications-header {
    margin-left: 15%;
    margin-top: 20%;
    font-size: 500%;
}

.new-notifications {
    padding: 9%;
    font-size: 400%;
}

.post-comment {
    align-items: center;
    margin: 0 auto;
    font-size: 95%;
    width: 90%;
}

.comment-author-name {
    font-weight: bold;
}

#instruction {
	height: 20em;
    overflow: auto;
	padding: 0% 5% 0% 5%;
	margin-top: -5%;
	margin-bottom: 5%;
	line-height: 3em;	
	background-color: #c9deff;
}

.time-icon {
    height: 6vw;
	width: 6vw;
    padding: 0 5% 0 5%;
	margin-bottom: -5%; 
    user-select: none;
}

.direction-time-container {
	margin-top: -8%;
	margin-bottom: -3%;
	height: 5vw;
    display: flex;
    flex-direction: row;
}

#time-length-txt {
	font-size: 3em;
}
